@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-03-28 14:39:57
 * @version $Id$
 */
*{
    padding: 0;
    margin: 0;
}
body,html{
    font-weight: normal;
    font-family: "microsoft Yahei";
    color: #555;
}
a{
    text-decoration: none;
    font-weight: normal;
    font-family: normal;
    cursor: pointer;
    color: #555;
}
a:hover{
    text-decoration: none;
    color:#DD2726;
}
li{
    list-style: none;
}
img{
    border: none;
}
.clearfix:after{
    display: block;
    content:"";
    clear:both;
    visibility: hidden;
    height: 0;

}
.clearfix{
    zoom:1;
}



 
