/*公用模块*/
body{
    height: 2000px;
}
.communal{
    width: 1210px;
    margin: 0 auto;
}
.communal .cm-title{
    height: 70px;
    line-height: 70px;
    background: pink;
}
.communal .cm-title .title,.communal .cm-title.floor{
    float: left;
}
.communal .cm-title  .more{
    float: right;
}
.communal .cm-title .floor{
    width: 32px;
    height: 25px;
    background: url("../images/yungouquanqiu/icon_index.png")no-repeat -46px -22px;
    font-size: 12px;
    color: #fff;

}
.communal .cm-title .title {
    color: #111;
    font-size: 16px;
    font-weight: bold;
}
.communal .cm-title .more{
    float:right;
    width: 32px;
    height: 32px;

}
/*公用模块结束*/
/*头部*/
/*头部导航开始*/
.topnav{
    width: 100%;
    background: #F3F3F3;
}
.topnav .topnav-box{
    width: 1210px;
    margin: 0 auto;
}
.topnav .topnav-box-left{
    float: left;

}
.topnav .topnav-box-right{
    float: right;

}
.topnav .topnav-box-left li,.topnav .topnav-box-right li{
    position: relative;
    padding-bottom: 4px;
    float: left;
    line-height:32px;
    height:32px;
}
.topnav .topnav-box-left li a{
    display: inline-block;
    padding: 0 12px;
    border-left: 1px solid #111;
    line-height: 14px;
    font-size: 12px;
    color: #555;
}
.topnav .topnav-box-right li a{
    display: inline-block;
    padding: 0 12px;
    border-left: 1px solid #111;
    line-height: 14px;
    font-size: 12px;
}
.topnav .topnav-box-left li .icon{
    display:inline-block;
    width: 24px;
    height: 16px;
    background: url("../images/yungouquanqiu/new-icon.png") no-repeat;
}
.topnav .topnav-box-left li img{
    visibility:hidden;
    position: absolute;
    top: 36px;
    left: -40px;
}
.topnav .topnav-box-left li:hover img{
    visibility:visible;

}
.topnav .topnav-box-left .phone .icon{
    background-position:-136px 0px;
}
.topnav .topnav-box-left .sina .icon{
    background: url("../images/yungouquanqiu/xinl.png") no-repeat;
}
.topnav .topnav-box-left .sina:hover .icon{
    background: url("../images/yungouquanqiu/xinl_new.png") no-repeat;
}
.topnav .topnav-box-left .follow .icon{
    background-position:-35px 0px;
}
.topnav .topnav-box-left .follow:hover .icon{
    background-position:-86px 0px;
}
.topnav .topnav-box-left .online .icon{
    background: url("../images/yungouquanqiu/kf.png") no-repeat;
}
.topnav .topnav-box-left .online:hover .icon{
    background: url("../images/yungouquanqiu/kf1.png") no-repeat;
}
.topnav .topnav-box-left .telephone a{
    border-left: none;
    font-size: 16px;
    cursor:text;
}
.topnav .topnav-box-right li:first-child a{
    border-left: none;
}
.topnav .topnav-box-right .register a{
    padding-left: 32px;
    color:#DD2726;;
}
.topnav .topnav-box-right .register .top-add{
    position: absolute;
    left: 8px;
    top: 10px;
}
.topnav .topnav-box-right .mine a{
    padding-right: 20px;
}
.topnav .topnav-box-right .mine .zhen{
    visibility:hidden;
    position: absolute;
    left: 90px;
    top: 12px;
    border: 4px solid transparent;
    width: 0px;
    height: 0px;
    border-bottom-color:#888;
}
.topnav .topnav-box-right .mine .dao{
    position: absolute;
    left: 90px;
    top: 16px;
    border: 4px solid transparent;
    border-top-color:#888;
    width: 0px;
    height: 0px;

}
.topnav .topnav-box-right .mine:hover .zhen{
    visibility:visible;
}
.topnav .topnav-box-right .mine:hover .dao{
    visibility:hidden;
}
.topnav .topnav-box-right .mine dl{
    visibility:hidden;
    position: absolute;
    top: 36px;
    left: 0;
    width:108px;
    height: 84px;
    background: #fff;
}
.topnav .topnav-box-right .mine:hover dl{
    visibility:visible;
}
.topnav .topnav-box-right .mine dl a{
    border: none;
    font-size: 12px;
}
.topnav .topnav-box-right .mine dd{
    border: 1px solid #F3F3F3;
    height: 27px;
    line-height: 27px;
    border-top: none;
}
.topnav .topnav-box-right li:last-child a{
    color:#DD2726;
    border: none;
}
/*搜索区域*/
.topsearch{
    width: 1210px;
    margin:38px auto;
}
.topsearch-logo,.topsearch-statistics{
    float: left;
    line-height: 69px;
    height: 69px;
}
.topsearch-search{
    float: right;
    line-height: 69px;
    height: 69px;
}
.topsearch-statistics{
    width: 346px;
    margin-left:172px;
    background: pink;
}
.topsearch-search{
    width: 390px;
}
/*标志开始*/


.topsearch-logo img,.topsearch-logo a{
    display: inline-block;
    vertical-align: middle;
}
/*标志结束*/
/*统计开始*/
/*统计结束*/
/*搜索开始*/
.topsearch-search{
    position: relative;
}
.topsearch-search-text{
    border:1px solid #dfdfdf;
    padding-left: 36px;
    padding-right: 92px;
    outline: none;
    width: 248px;
    height: 38px;
    line-height:38px;
}
.topsearch-search-text:focus{
    border:1px solid #DD2726;
}
.topsearch-search-icon{
    position: absolute;
    left: 12px;
    top: 27px;
    background: url("../images/yungouquanqiu/icon_index.png") no-repeat;
    width: 20px;
    height: 20px;
}
.topsearch-search-btn{
    position: absolute;
    left: 296px;
    top: 16px;
    width: 92px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background:#DD2726;
    color: #fff;
}
.topsearch-search-btn:hover{
    color: #fff;
}
/*搜索结束*/
/*搜索区域结束*/
/*头部菜单栏和导航区域开始*/
.topmenu{
    position: relative;
    z-index:1;
    margin: 0 auto;
    width: 1210px;
    height: 46px;
    line-height: 46px;

}
.topmenu-sidernav,.topmenu-nav{
    float: left;
}
.topmenu-sidernav{
    position: relative;
    width: 232px;
    height: 46px;
    line-height: 46px;
    background:#C40000;
    color: #fff;
    text-align: center;
}
.topmenu-nav{
    margin-left: 38px;
    width:864px;
    height: 46px;
    line-height: 46px;
}
/*侧边导航开始*/
.topmenu-sidernav a {
    color: #fff
}
.topmenu-sidernav-list {
    position: absolute;
    padding-top: 1px;
    width: 232px;
    top: 46px;
    background:rgba(38,38,38,0.9);
}
.topmenu-sidernav-list li:first-child{
    border: none;
}
.topmenu-sidernav-list li{
    position: relative;
    border-top:1px solid #515151;
    line-height: 49px;
    height: 49px;
    text-align: left;
    padding-left: 30px;
    transition:padding-left .5s;
    -moz-transition:padding-left .5s;
    -webkit-transition:padding-left .5s;
    -o-transition:padding-left .5s;

}
.topmenu-sidernav-list .sidernav-item-hover{
    background:#DD2726;
    padding-left: 38px;
    transition:padding-left .5s;
    -moz-transition:padding-left .5s;
    -webkit-transition:padding-left .5s;
    -o-transition:padding-left .5s;
}
.topmenu-sidernav-list .icon{
    position: absolute;
    top: 22px;
    right: 22px;
    width: 12px;
    height: 12px;
    background: url("../images/yungouquanqiu/icon_index.png") no-repeat -80px -129px;
}
.topmenu-sidernav-list a,.topmenu-sidernav-list span,.topmenu-sidernav-list img{
    display: inline-block;
    vertical-align: middle;
}

/*侧边导航结束*/
/*横向导航开始*/
.topmenu-nav-list li {
    float: left;
}
.topmenu-nav-list li a{
    padding:0 14px;
    display: inline-block;

}
.topmenu-nav-list .find01{
    position: relative;
    padding:0 22px;
}
.topmenu-nav-list .find01 .dao{
    position: absolute;
    left: 84px;
    top: 22px;
    border: 5px solid transparent;
    border-top-color:#DD2726;
    width: 0px;
    height: 0px;
}
.topmenu-nav-list .find01 dl{
    visibility:hidden;
    position: absolute;
    top: 46px;
    left:5px;
    width:132px;
    height: 260px;
    background: #fff;
}
.topmenu-nav-list .find01:hover dl{
    visibility:visible;
}
.topmenu-nav-list .find01 dd{
    border: 1px solid #F3F3F3;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-top: none;
}
/*横向导航结束*/
/*头部菜单栏和导航区域结束*/
/*头部结束*/
/*焦点图*/
.carousel{
    position: relative;
    overflow: hidden;
    border-top: 1px solid #C40000 ;
    width: 100%;
    height: 400px;
}
.carousel .carousel-box{
    width: 800%;
    height:400px;
    line-height: 400px;
}
.carousel .carousel-box li{
    float: left;
    width: 12.5%;
    height: 400px;

}

.carousel .carousel-box li a{
    display:block;
    height: 400px;
}
.carousel .carousel-box img{

}
.carousel-list{
    position: absolute;
    bottom: 28px;
    left: 45%;

}
.carousel-list .item{
    float: left;
    margin: 0 8px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #111;
}
.carousel-list .item a{
    display:block;
    color: transparent;

}
.carouser-lbtn,.carouser-rbtn{
    position: absolute;
    z-index: 2;
    top: 136px;
    width: 62px;
    height: 62px;
    line-height: 62px;
    text-align: center;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;

}
.carouser-lbtn{
    filter:alpha(opacity=30);
    -moz-opacity:0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}
.carouser-lbtn:hover,.carouser-rbtn:hover{
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;

}
.carouser-lbtn a,.carouser-rbtn a{
    display: block;
    color: transparent;
}
.carouser-lbtn{
    left: 5%;
    background:url("../images/yungouquanqiu/left-heavy-arrow.png");
}
.carouser-rbtn{
    right: 5%;
    background:url("../images/yungouquanqiu/right-heavy-arrow.png");
}
/*焦点图结束*/
/*最新动态*/
.news{
    border-bottom: 1px solid #dfdfdf;

}
.news-box{
    position: relative;
    margin: 0 auto;
    width: 1210px;
    height: 46px;
    line-height: 46px;
    overflow: hidden;
}
.news-box-left{
    position: relative;
}
.news-box-left .zxdt{
    float: left;
}
.news-box-left .zxdt .icon{
    display: inline-block;
    background: url("../images/yungouquanqiu/icon_index.png") no-repeat -46px -4px;
    width: 12px;
    height: 12px;
    margin: 0 16px 0 24px;
}
.news-box-left .more{
    float: right;
}
.news-box-right{
    position: absolute;
    left: 140px;
    top: 0;
    width: 890px;
    height: 46px;
    line-height: 46px;
}
.news-box-right li{
    height: 46px;
}
.news-box-right .news-title{
    float: left;
}
.news-box-right .news-date{
    float:right;
}


    /*最新动态结束*/
/*身体*/
/*身体结束*/
/*脚部*/
/*脚部结束*/
/*常用*/
.show{
    display: block;
}
.hidden{
    display: none;
}
.textoverflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ys{
    background:#DD2726;
    color: #ffecec;
}
.jr{
    transition:padding-left 1s;
    -moz-transition:padding-left 1s;
    -webkit-transition:padding-left 1s;
    -o-transition:padding-left 1s;
}