/*公用模块*/
body{
    8888px: ;
}
.communal{
    position: relative;
    overflow: hidden;
    width: 1210px;
    margin: 0 auto;
}
.communal .cm-title{
    padding-top: 5px;
    width:100%;
    height:60px;
    line-height: 60px;
}
.communal .cm-title02{
    border-bottom: 2px solid #000;
}
.communal .cm-title .cm-title-floor {
    display: inline-block;
    margin-right: 18px;
    width: 30px;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
    color: #fff;
    font-size: 14px;
    background: url("../../images/yungouquanqiu/icon_index.png") no-repeat -46px -22px;
}
.communal .cm-title .cm-title-title{
    line-height: 30px;
    height: 30px;
    font-size: 20px;
    color: #333333;
    vertical-align: middle;
}
.communal02 .cm-title .cm-title-title{
    margin-right: 1026px;
}
.cm-title-more{
    display: inline-block;
    border: 1px solid #CCC;
    color: #ccc;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;

}
.communal .cm-title .cm-title-more:hover {
    color:#DD2726;
    border: 1px solid #DD2726;
}
.cm-list{
    border-left: 1px solid #CCC;
    width: 1380px;
}
.cm-list .cm-list-item{
    float: left;
    position: relative;
    padding: 18px;
    border: 1px solid #CCCCCC;
    border-left:none;
    width: 265px;

}
.cm-list .cm-list-item .Img{
    display: block;
    text-align: center;
}
.cm-list .cm-list-item .Title{
    display: block;
    font-size: 14px;
    line-height: 36px;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cm-list .cm-list-item .Price{
    display: block;
    color: #A7A7A7;
    font-size: 12px;
}
.Progress{
    margin:10px auto;
    width: 244px;
    background:#EEE;
}
.Progress-item{
    width: 1%;
    height: 6px;
    background:#DD2726;
}
.progressData{
    width: 265px;
}
.progressData li{
    float: left;
    margin-left:10px;
    line-height: 24px;
    width: 78px;
    font-size: 14px;
    text-align: center;
    color: #999;
}
.Buy-box{
    margin: 10px auto;
    text-align: center;
}
.Buy-box a{
    display: inline-block;
}
.Buy-box .Rob{
    margin-right: 10px;
    width: 170px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    background: #DD2726;
    color: #fff;
}
.Buy-box .Rob:hover{
    background: #C40000;
}
.Buy-box .Buy{
    width: 45px;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    background: url("../../images/yungouquanqiu/index_btn.png")no-repeat;
}
.Buy-box .Buy:hover{
    background: url("../../images/yungouquanqiu/index_btn2.png")no-repeat;
}
/*专区图标*/
.communal .cm-title .tcbj {
    display: inline-block;
    width: 1068px;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
    background: url("../../images/yungouquanqiu/bj8.jpg") center repeat-x;
}
.cm-prompt2{
    position: absolute;
    left:212px;
    top: 322px;
    width: 64px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: url("../../images/yungouquanqiu/ten_02.png") no-repeat;
}
.cm-prompt{
    position: absolute;
    left:212px;
    top: 322px;
    width: 64px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: url("../../images/yungouquanqiu/ten_03.png") no-repeat;
}
/*专区图标结束*/
/*最新揭秘*/
.hot .cm-title .cm-title-floor {
    display: inline-block;
    margin-right: 840px;
    width:232px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    color: #fff;
    font-size: 14px;
    background: url("../../images/yungouquanqiu/icon_index.png") no-repeat -63px 0;
}
.hot .cm-title .cm-title-title{
    font-size: 20px;
    margin-right: 1px;
    color: #333333;
}

.hot .cm-list-item{
    width: 203px;
    -webkit-box-shadow: 1px 3px 3px #ccc;
    -moz-box-shadow: 1px 3px 3px #ccc;
    box-shadow: 1px 3px 3px #ccc;
    border: 1px solid #dd2726;;
}
.hot .cm-list-item .Title{
    font-size: 14px;
    font-weight: bold;
}
.hot .hot-log{
    position: absolute;
    left: 0;
    top: 0;
    height: 72px;
    width: 73px;
    background:url("../../images/yungouquanqiu/icon_index.png") no-repeat -46px -51px;

}
/*最新揭秘结束*/
/*时间读秒*/
.cm-time{
    padding-top: 5px; ;
    width: 202px;
    height:36px;
    line-height: 36px;
    font-size: 1px;
}
.cm-time b{
    font-size: 26px;
    color: #DD2726;
}
.cm-time span{
    display: inline-block;
    border-radius: 5px;
    width: 25px;
    text-align: center;
    font-size: 26px;
    color: #fff;
    background:#DD2726;
}
/*时间读秒结束*/
/*公用模块结束*/
/*头部*/
/*头部导航开始*/
.topnav{
    width: 100%;
    background: #F3F3F3;
}
.topnav .topnav-box{
    width: 1210px;
    margin: 0 auto;
}
.topnav .topnav-box-left{
    float: left;

}
.topnav .topnav-box-right{
    float: right;

}
.topnav .topnav-box-left li,.topnav .topnav-box-right li{
    position: relative;
    padding-bottom: 4px;
    float: left;
    line-height:32px;
    height:32px;
}
.topnav .topnav-box-left li a{
    display: inline-block;
    padding: 0 12px;
    border-left: 1px solid #111;
    line-height: 14px;
    font-size: 12px;
    color: #555;
}
.topnav .topnav-box-right li a{
    display: inline-block;
    padding: 0 12px;
    border-left: 1px solid #111;
    line-height: 14px;
    font-size: 12px;
}
.topnav .topnav-box-left li .icon{
    display:inline-block;
    width: 24px;
    height: 16px;
    background: url("../../images/yungouquanqiu/new-icon.png") no-repeat;
}
.topnav .topnav-box-left li img{
    visibility:hidden;
    position: absolute;
    top: 36px;
    left: -40px;
}
.topnav .topnav-box-left li:hover img{
    visibility:visible;

}
.topnav .topnav-box-left .phone .icon{
    background-position:-136px 0px;
}
.topnav .topnav-box-left .sina .icon{
    background: url("../../images/yungouquanqiu/xinl.png") no-repeat;
}
.topnav .topnav-box-left .sina:hover .icon{
    background: url("../../images/yungouquanqiu/xinl_new.png") no-repeat;
}
.topnav .topnav-box-left .follow .icon{
    background-position:-35px 0px;
}
.topnav .topnav-box-left .follow:hover .icon{
    background-position:-86px 0px;
}
.topnav .topnav-box-left .online .icon{
    background: url("../../images/yungouquanqiu/kf.png") no-repeat;
}
.topnav .topnav-box-left .online:hover .icon{
    background: url("../../images/yungouquanqiu/kf1.png") no-repeat;
}
.topnav .topnav-box-left .telephone a{
    border-left: none;
    font-size: 16px;
    cursor:text;
}
.topnav .topnav-box-right li:first-child a{
    border-left: none;
}
.topnav .topnav-box-right .register a{
    padding-left: 32px;
    color:#DD2726;;
}
.topnav .topnav-box-right .register .top-add{
    position: absolute;
    left: 8px;
    top: 10px;
}
.topnav .topnav-box-right .mine a{
    padding-right: 20px;
}
.topnav .topnav-box-right .mine .zhen{
    visibility:hidden;
    position: absolute;
    left: 90px;
    top: 12px;
    border: 4px solid transparent;
    width: 0px;
    height: 0px;
    border-bottom-color:#888;
}
.topnav .topnav-box-right .mine .dao{
    position: absolute;
    left: 90px;
    top: 16px;
    border: 4px solid transparent;
    border-top-color:#888;
    width: 0px;
    height: 0px;

}
.topnav .topnav-box-right .mine:hover .zhen{
    visibility:visible;
}
.topnav .topnav-box-right .mine:hover .dao{
    visibility:hidden;
}
.topnav .topnav-box-right .mine dl{
    visibility:hidden;
    position: absolute;
    top: 36px;
    left: 0;
    width:108px;
    height: 84px;
    background: #fff;
}
.topnav .topnav-box-right .mine:hover dl{
    visibility:visible;
}
.topnav .topnav-box-right .mine dl a{
    border: none;
    font-size: 12px;
}
.topnav .topnav-box-right .mine dd{
    border: 1px solid #F3F3F3;
    height: 27px;
    line-height: 27px;
    border-top: none;
}
.topnav .topnav-box-right li:last-child a{
    color:#DD2726;
    border: none;
}
/*搜索区域*/
.topsearch{
    width: 1210px;
    margin:38px auto;
}
.topsearch-logo,.topsearch-statistics{
    float: left;
    line-height: 69px;
    height: 69px;
}
.topsearch-search{
    float: right;
    line-height: 69px;
    height: 69px;
}
.topsearch-statistics{
    width: 346px;
    margin-left:172px;
    background: pink;
}
.topsearch-search{
    width: 390px;
}
/*标志开始*/


.topsearch-logo img,.topsearch-logo a{
    display: inline-block;
    vertical-align: middle;
}
/*标志结束*/
/*统计开始*/
/*统计结束*/
/*搜索开始*/
.topsearch-search{
    position: relative;
}
.topsearch-search-text{
    border:1px solid #dfdfdf;
    padding-left: 36px;
    padding-right: 92px;
    outline: none;
    width: 248px;
    height: 38px;
    line-height:38px;
}
.topsearch-search-text:focus{
    border:1px solid #DD2726;
}
.topsearch-search-icon{
    position: absolute;
    left: 12px;
    top: 27px;
    background: url("../../images/yungouquanqiu/icon_index.png") no-repeat;
    width: 20px;
    height: 20px;
}
.topsearch-search-btn{
    position: absolute;
    left: 296px;
    top: 16px;
    width: 92px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background:#DD2726;
    color: #fff;
}
.topsearch-search-btn:hover{
    color: #fff;
}
/*搜索结束*/
/*搜索区域结束*/
/*头部菜单栏和导航区域开始*/
.topmenu{
    position: relative;
    z-index:1;
    margin: 0 auto;
    width: 1210px;
    height: 46px;
    line-height: 46px;

}
.topmenu-sidernav,.topmenu-nav{
    float: left;
}
.topmenu-sidernav{
    position: relative;
    width: 232px;
    height: 46px;
    line-height: 46px;
    background:#C40000;
    color: #fff;
    text-align: center;
}
.topmenu-nav{
    margin-left: 38px;
    width:864px;
    height: 46px;
    line-height: 46px;
}
/*侧边导航开始*/
.topmenu-sidernav a {
    color: #fff
}
.topmenu-sidernav-list {
    visibility: hidden;
    position: absolute;
    padding-top: 1px;
    width: 232px;
    top: 46px;
    background:rgba(38,38,38,0.9);
}
.topmenu-sidernav:hover .topmenu-sidernav-list{

    visibility:visible;
}
.topmenu-sidernav-list li:first-child{
    border: none;
}
.topmenu-sidernav-list li{
    position: relative;
    border-top:1px solid #515151;
    line-height: 49px;
    height: 49px;
    text-align: left;
    padding-left: 30px;
    transition:padding-left .5s;
    -moz-transition:padding-left .5s;
    -webkit-transition:padding-left .5s;
    -o-transition:padding-left .5s;

}
.topmenu-sidernav-list .sidernav-item-hover{
    background:#DD2726;
    padding-left: 38px;
    transition:padding-left .5s;
    -moz-transition:padding-left .5s;
    -webkit-transition:padding-left .5s;
    -o-transition:padding-left .5s;
}
.topmenu-sidernav-list .icon{
    position: absolute;
    top: 22px;
    right: 22px;
    width: 12px;
    height: 12px;
    background: url("../../images/yungouquanqiu/icon_index.png") no-repeat -80px -129px;
}
.topmenu-sidernav-list a,.topmenu-sidernav-list span,.topmenu-sidernav-list img{
    display: inline-block;
    vertical-align: middle;
}

/*侧边导航结束*/
/*横向导航开始*/
.topmenu-nav-list li {
    float: left;
}
.topmenu-nav-list li a{
    padding:0 14px;
    display: inline-block;

}
.topmenu-nav-list li .aSelected{
    color: #DD2726;
}
.topmenu-nav-list .find01{
    position: relative;
    padding:0 22px;
}
.topmenu-nav-list .find01 .dao{
    position: absolute;
    left: 84px;
    top: 22px;
    border: 5px solid transparent;
    border-top-color:#DD2726;
    width: 0px;
    height: 0px;
}
.topmenu-nav-list .find01 dl{
    visibility:hidden;
    position: absolute;
    top: 46px;
    left:5px;
    width:132px;
    height: 260px;
    background: #fff;
}
.topmenu-nav-list .find01:hover dl{
    visibility:visible;
}
.topmenu-nav-list .find01 dd{
    border: 1px solid #F3F3F3;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-top: none;
}
/*横向导航结束*/
/*头部菜单栏和导航区域结束*/
/*头部结束*/
/*焦点图*/
.carousel{
    position: relative;
    overflow: hidden;
    border-top: 1px solid #C40000 ;
    width: 100%;
    height: 400px;
}
.carousel .carousel-box{
    width: 800%;
    height:400px;
    line-height: 400px;
}
.carousel .carousel-box li{
    float: left;
    width: 12.5%;
    height: 400px;

}

.carousel .carousel-box li a{
    display:block;
    height: 400px;
}
.carousel .carousel-box img{

}
.carousel-list{
    position: absolute;
    bottom: 28px;
    left: 45%;

}
.carousel-list .item{
    float: left;
    margin: 0 8px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #111;
}
.carousel-list .item a{
    display:block;
    color: transparent;

}
.carouser-lbtn,.carouser-rbtn{
    position: absolute;
    z-index: 2;
    top: 136px;
    width: 62px;
    height: 62px;
    line-height: 62px;
    text-align: center;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;

}
.carouser-lbtn{
    filter:alpha(opacity=30);
    -moz-opacity:0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}
.carouser-lbtn:hover,.carouser-rbtn:hover{
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;

}
.carouser-lbtn a,.carouser-rbtn a{
    display: block;
    color: transparent;
}
.carouser-lbtn{
    left: 5%;
    background:url("../../images/yungouquanqiu/left-heavy-arrow.png");
}
.carouser-rbtn{
    right: 5%;
    background:url("../../images/yungouquanqiu/right-heavy-arrow.png");
}
/*焦点图结束*/
/*最新动态*/
.news{
    border-bottom: 1px solid #dfdfdf;

}
.news-box{
    position: relative;
    margin: 0 auto;
    width: 1210px;
    height: 46px;
    line-height: 46px;
    overflow: hidden;
}
.news-box-left{
    position: relative;
}
.news-box-left .zxdt{
    float: left;
}
.news-box-left .zxdt .icon{
    display: inline-block;
    background: url("../../images/yungouquanqiu/icon_index.png") no-repeat -46px -4px;
    width: 12px;
    height: 12px;
    margin: 0 16px 0 24px;
}
.news-box-left .more{
    float: right;
}
.news-box-right{
    position: absolute;
    left: 140px;
    top: 0;
    width: 890px;
    height: 46px;
    line-height: 46px;
}
.news-box-right li{
    height: 46px;
}
.news-box-right .news-title{
    float: left;
}
.news-box-right .news-date{
    float:right;
}
/*最新动态结束*/
/*云购社区*/
.bbs{
    margin: 0 auto;
    border: 1px solid #CCCCCC;
    width: 1210px;
    height: 437px;
}


.bbs .bbs-official{
    width: 368px;
    height: 437px;


}
.bbs .bbs-share{
    width: 774px;
    height: 437px;
    overflow: hidden;
}
.bbs .bbs-official ,.bbs .bbs-share {
    float: left;
    margin-left: 34px;
}
.bbs .bbs-official .cm-title-title{
    margin-right: 251px;
    font-size: 18px;
    color: #111;
}
.bbs .bbs-share .cm-title-title{
    margin-right: 658px;
    font-size: 18px;
    color: #111;
}
.bbs-official-list{
    border-top: 1px solid #ccc;
}
.bbs-official-list,.bbs-share-list{
    overflow:hidden;
    margin: 5px;
    text-align: center;
}
.official-list-item{
    height: 94px;
}
.bbs-official-list .official-list-item .data{
    width:74px;
    height: 68px;
    border-radius: 5px;
    background:url("../../images/yungouquanqiu/bj_time.jpg");
}
.bbs-official-list .official-list-item .item-box{
    margin-left: 18px;
    border-bottom: 1px solid #EBEBEB;
    width: 251px;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;

}
.bbs-official-list .official-list-item .data,.bbs-official-list .official-list-item .item-box{
    float: left;
    text-align: center;
}
.official-list-item .item-box h5{
    font-size: 18px;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.official-list-item .item-box p{
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    color: #ccc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.official-list-item span:first-child{
    color: #111;
    line-height: 40px;
    font-size: 22px;
}
.official-list-item span:last-child{
    color: #111;
    font-size: 14px;
}
.bbs-share-list {
    width: 1016px;
}
.bbs-share-list .share-list-item{
    float: left;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    padding: 9px 18px 0px;
    width: 220px;
    height: 187px;
}
.bbs-share-list .share-list-item:hover{
    margin-top: -1px;
    margin-left: -1px;
    border: 1px solid red;
}
.bbs-share-list .share-list-item img{
    width:220px;
    height: 147px;
}
/*云购社区结束*/
/*脚部*/

.footer-group-list{
    width: 1210px;
    margin: 40px auto 0;
    padding: 10px;
}
.footer-group .footer-group-list li{
    display: inline-block;
    width:280px;
    height: 120px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
}
.footer-group .footer-group-list li span{
    display:inline-block;
    width: 60px;
    height: 50px;
    background:url("../../images/yungouquanqiu/icon_index.png")no-repeat;

}
.footer-group2{
    background: #48464A;
    padding: 40px 40px 0
}
.footer-group2 .footer-group2-box{
    margin: 0 auto;
    width: 1210px;
    padding: 30px 10px;

}
.footer-group2 .footer-group2-box dl{
    vertical-align: middle;
    display: inline-block;
    padding-left: 40px;
    width: 100px;
    height: 84px;
    color: #D8CEC6;
    text-align: center;
    background:url("../../images/yungouquanqiu/foot.jpg") no-repeat;
}
.footer-group2 .footer-group2-box a{
    color: #a0a0a0;
    font-size: 14px;
}
.footer-group2 .footer-group2-box dl a:hover{
    color: #D8CEC6;
    text-decoration: underline;
}
.footer-group2 .phone-tiem{
    display: inline-block;
    height: 84px;
    padding-left: 40px;
    width: 100px;
    color: #f3f3f3;
    font-size: 20px;
    width: 230px;
    vertical-align: middle;
    background:url("../../images/yungouquanqiu/foot.jpg") no-repeat;
}
.footer-group2 .phone-tiem p{
    margin: 12px;
}
.footer-group2 .phone-tiem .phone:before{
    display: inline-block;
    width: 30px;
    height: 24px;
    vertical-align: middle;
    content:"";
    background:url("../../images/yungouquanqiu/phone.png") no-repeat;
}
.footer-group2 .phone-tiem .nowTime:before{
    display: inline-block;
    width: 30px;
    height: 24px;
    vertical-align: middle;
    content:"";
    background:url("../../images/yungouquanqiu/time.png") no-repeat;
}
.footer-group2 .ewm-gruop{
    display: inline-block;
    height: 84px;
    padding-left: 40px;
    color: #f3f3f3;
    font-size: 20px;
    width:284px;
    vertical-align: middle;
    background:url("../../images/yungouquanqiu/foot.jpg") no-repeat;
}
.footer-group2 .ewm-gruop .ewm-group-title {
    display: block;
    height: 50px;
    background:url("../../images/yungouquanqiu/foot1.png") no-repeat;
}
.footer-group2 .ewm-gruop .ewm-gruop-list{
    height: 50px;
    text-align: center;
}
.ewm-gruop-list .gruop-list-item {
    display: inline-block;
    position: relative;
    margin: 0 5px;
    width: 50px;
    height:50px;
    background:url("../../images/yungouquanqiu/new-icon.png") no-repeat -65px -33px;

}
.ewm-gruop-list .gruop-list-item:hover{
    background-position: -65px -82px;
}
.ewm-gruop-list .gruop-list-item:hover .hidden-box{
    visibility: visible;
}
.ewm-gruop-list .gruop-list-item .hidden-box{
    visibility: hidden;
    position: absolute;
    top:-184px;
    left:-54px;
    width:154px;
    height: 160px;
    font-size: 14px;
    color: #333;
    text-align: center;
}
.ewm-gruop-list .gruop-list-item .hidden-box p{
    background: #fff ;
}
.ewm-gruop-list .gruop-list-item .hidden-box img{
    margin: 10px;
}
.ewm-gruop-list .gruop-list-item .hidden-box .dao2{;
    margin: 0 auto;
    border: 10px solid transparent;
    background: transparent;
    border-top-color:#fff;
    height: 0px;
    width: 0px;
}
.footer-copyright{
    border-top: 1px solid #626262;
    color: #8f8f8f;
    height: 76px;
    line-height: 76px;
}
.footer-copyright .footer-copyright-infor,.footer-copyright .footer-copyright-icon{
    display: inline-block;
    vertical-align: middle;
}
.footer-copyright .footer-copyright-infor{
    width: 680px;
    height: 76px;
    font-size: 14px;
}
.footer-copyright  .footer-copyright-icon{
    width: 480px;
    height: 76px;
    line-height: 76px;
}
.footer-copyright  .footer-copyright-icon li {
    display: inline-block;
    margin: 0 10px;
    width: 90px;
    height: 33px;
    vertical-align: middle;
    background:url("../../images/yungouquanqiu/icon_footer.png") no-repeat 0px, 0px;
}
.footer-copyright  .footer-copyright-icon li:hover{
    background:url("../../images/yungouquanqiu/icon_footer2.png") 0, 0;
}
.footer-group3{
    background:#373638;
    height: 62px;
}
.footer-group3 .friendlink{
    width: 1210px;
    margin: 0 auto;
    height: 62px;
    padding: 10px;
    text-align: center;
}
.footer-group3 .friendlink li{
    display: inline-block;
    vertical-align: middle;
    line-height: 14px;
    color: #8f8f8f;
    border-left: 1px solid #8f8f8f;
}
.footer-group3 .friendlink li a{
    color: #8f8f8f;
    font-size: 14px;
    margin: 0 15px;
}
.footer-group3 .friendlink li:first-child{
    border: none;
}
.footer-group3 .friendlink li:first-child:before{
    content:"友情链接：";
    color: #8f8f8f;
}
    /*脚部结束*/
/*固定层*/
.fixbox-bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 156px;
    background:url("../../images/yungouquanqiu/bimg.png") center;
}
 .closs{
     position: absolute;
     right: 0px;
     margin-top: -40px;
     width:40px;
     height: 40px;
     background:url("../../images/yungouquanqiu/closs.png") no-repeat center;
 }
.clossON{
    visibility: hidden;
}
/*右侧固定*/
.fixbox-right{
    position:fixed;
    bottom: 0px;
    right: 0px;
}
.fixbox-right .fixbox-right-item{
    position: relative;
    padding-left: 5px;
    margin: 10px 0;

}
.fixbox-right .fixbox-right-item a{
    display: block;
    font-size: 12px;
    line-height: 28px;
    height: 40px;
    color: #fff;
    background: #7A6E6E;
    font-family: microsoft Yahei;
}
.fixbox-right .fixbox-right-item .icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background:url("../../images/yungouquanqiu/r-fixed1.png")no-repeat center;
}

.fixbox-right .fixbox-right-item  .hidden-boxr{
    visibility: hidden;
    position: absolute;
    display: block;
    padding: 6px; 10px;
    right: 45px;
    text-align: center;
    white-space: nowrap;
    background: #C40000;
}
.fixbox-right .fixbox-right-item  .hidden-boxr span{
    display: block;
}
.fixbox-right .fixbox-right-item  .hidden-boxr img{
    display: block;
    margin: 0px 15px;
}
.fixbox-right .fixbox-right-item:hover{
    background: #C40000;
}
.fixbox-right .fixbox-right-item:hover a{
    background: #C40000;
}
.fixbox-right .fixbox-right-item:hover .hidden-boxr {
    visibility: visible;
}
/*右侧固定结束*/
/*左侧固定开始*/
.fixbox-left{
    display: none;
    position: fixed;
    width: 50px;
    left: 0px;
    bottom:80px;
}

.fixbox-left .fixbox-left-list .fixbox-left-item{
    margin: 5px 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background:#ECECEC;
 }
.fixbox-left .fixbox-left-list .fixbox-left-item .title{
    visibility: hidden;
    position: absolute;
    left: 0px;
    padding: 8px 5px;
    width: 40px;
    height: 34px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    background: #DD2726;
    color: #fff;
    font-family: microsoft Yahei;
}
.fixbox-left .fixbox-left-list .fixbox-left-item:hover .title{
   visibility: visible;
}
.fixbox-left .fixbox-left-list .fixbox-left-item .fixbox-left-show .title{
    visibility: visible;
}

.fixbox-left .fixbox-left-list .fixbox-left-item .icon{
    display: inline-block;
    height:21px;
    width: 22px;
    background:url("../../images/yungouquanqiu/icon_index.png") no-repeat;
    vertical-align: middle;
    background-position: -21px -25px;
}

/*固定结束*/
.show{
    visibility: visible;
}


